*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
    list-style: none;
}
span{
    color: red;
}
.container{
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
body{
    background: rgb(20, 20, 20);
    color: white;
}
.navbar{
    background-color: rgb(40, 40, 40);
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.container_left{
    margin-top: 2rem;
   
}
.container_left h1{
    margin: 2rem 0rem;
}
.container_left span{
    color: red;
}
.container_left p{
    line-height: 1.7rem;
    margin-bottom: 1rem;
    width: 85%;
    text-align: justify;
}

.container_right{
    margin-top: 2rem;
}
/* --------courses------ */

.container-course{
    display: grid;
    grid-template-columns: 3fr;
    gap: 2rem;
    margin-top: 3rem;
}
.card{
    background-color:rgb(25, 25, 25) ;
}
/* -----Testimonials------- */
.testimonial_section {
    margin-top: 6rem;
    overflow-x: hidden;
    position: relative;
    background: rgb(25, 25, 25); ;
}

.testimonial_container {
    margin: 2px 0px;
}

.testimonial_section h2 {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-top: 3rem;
}

.testimonial_image {
    width: 10rem;
    text-align: center;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;

}

.testimonial_image img {
    width: 5rem;
    height: 5rem;
    background-color:rgb(238, 77, 104);
    border-radius: 50%;
    padding: 10px;
}

.testimonial_info {
    text-align: center;
}

.testimonial_body {
    text-align: justify;
    font-size: 0.9rem;
    background: var(--color-primary);
    padding: 2rem;
    width: 75%;
    display: block;
    margin: 2.2rem auto;
    position: relative;
}

.testimonial_body::before {
    content: "";
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-primary);
    left: 45%;
    top: -12%;
    transform: rotate(45deg);
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary), var(--color-primary));
}
/* -------Footer------- */
footer{
    background-color: rgb(40, 40, 40);
  
}